% Section: Interests (dynamic)
\section{\texorpdfstring{\color{Blue}{ {{ interests_section_title | default("Centres d'intérêts") }} }}{ {{ interests_section_title | default("Centres d'intérêts") }} }}
\begin{tabular}{rl}
{{ interests_content }}
\end{tabular}
